<h1>New Tropa</h1>

<%= form_for :tropa, url: tropas_path do |f| %>
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre, id: :tropa_nombre %>
  </div>

  <div class="field">
    <%= f.label :atk %>
    <%= f.number_field :atk, id: :tropa_atk %>
  </div>

  <div class="field">
    <%= f.label :def %>
    <%= f.number_field :def, id: :tropa_def %>
  </div>
  <div class="field">
    <%= f.label :tipo_tropa_id, "Tipo" %>
   <%= f.collection_select(:tipo_tropa_id, @tipoTropas, :id, :nombre) %>
 </div>
 <div class="field">
    <%= f.label :recurso_id, "Recurso" %>
   <%= f.collection_select(:recurso_id, @Recursos, :id, :nombre) %>
 </div>
 <div class="field">
    <%= f.label :cantidad_rec, "Cantidad de Recurso" %>
    <%= f.number_field :cantidad_rec, id: :cantidad_rec %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', tropas_path %>
