<h1>Editing Recurso</h1>

<%= form_for @recurso, url: recurso_path(@recurso) do |f| %>
  <% if @recurso.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@recurso.errors.count, "error") %> prohibited
      this recurso from being saved:</h2>
    <ul>
    <% @recurso.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre, id: :recurso_nombre %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @recurso %> |
<%= link_to 'Back', recursos_path %>
